<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome Ludus</p>

    <a href="/ludus/new-fight"><button>Create a fight</button></a>
  </body>
</html>
