<!DOCTYPE html>
<html>
<head>
    <title>New Fight</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title">New Fight</h1>
<form name="fight" method="POST" action="/ludus/new-fight">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>The fisrt fighter’s type</td>
            <td><input type="text" id="fighter1-type" name="fighter1-type" value=<%= values.name %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "fighter1-type").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
